In [ ]:
# pandas ve numpy kütüphanelerini yüklemek için gerekli komutlar -- vscode için lazım
pip install openpyxl
pip install pandas
pip install numpy

In [ ]:
# Pandas ve Numpy kütüphanelerini import edin.
import numpy as np
import pandas as pd

In [ ]:
# Size verilen weather_data.csv dosyasını df değişkenine okuyun.
df = pd.read_csv('weather_data.csv')
df

          Date      City  Temperature   Humidity
0   2023-01-01  İstanbul    16.151138  61.351535
1   2023-01-02     Bursa    33.735633  54.334652
2   2023-01-03     Bursa    22.349836  77.209762
3   2023-01-04     İzmir     7.191749  71.983702
4   2023-01-05    Ankara    10.547860  73.048585
..         ...       ...          ...        ...
95  2023-04-06   Antalya    -0.445999  71.817181
96  2023-04-07    Ankara    -2.456281  66.878091
97  2023-04-08     İzmir    19.871719  39.765404
98  2023-04-09   Antalya    21.732137  32.799733
99  2023-04-10     İzmir    12.896571  57.887549

[100 rows x 4 columns]

In [15]:
# Veri setinin ilk 5 satırını (head) ve son 5 satırını (tail) ekrana yazdırın.
df.head()

         Date      City  Temperature   Humidity
0  2023-01-01  İstanbul    16.151138  61.351535
1  2023-01-02     Bursa    33.735633  54.334652
2  2023-01-03     Bursa    22.349836  77.209762
3  2023-01-04     İzmir     7.191749  71.983702
4  2023-01-05    Ankara    10.547860  73.048585

In [16]:
df.tail()

          Date     City  Temperature   Humidity
95  2023-04-06  Antalya    -0.445999  71.817181
96  2023-04-07   Ankara    -2.456281  66.878091
97  2023-04-08    İzmir    19.871719  39.765404
98  2023-04-09  Antalya    21.732137  32.799733
99  2023-04-10    İzmir    12.896571  57.887549

In [17]:
# Veri setinin istatistiksel özetini (describe) görüntüleyin.
df.describe()

       Temperature    Humidity
count   100.000000  100.000000
mean     13.933302   61.402382
std      10.562810   18.202072
min      -3.802847   30.040149
25%       5.437379   45.758871
50%      13.949726   63.382368
75%      20.953601   77.757185
max      34.803090   89.758341

In [18]:
# Sadece Date, City ve Temperature sütunlarını seçerek yeni bir görünüm oluşturun ve ekrana yazdırın.
df[['Date', 'City', 'Temperature']]

          Date      City  Temperature
0   2023-01-01  İstanbul    16.151138
1   2023-01-02     Bursa    33.735633
2   2023-01-03     Bursa    22.349836
3   2023-01-04     İzmir     7.191749
4   2023-01-05    Ankara    10.547860
..         ...       ...          ...
95  2023-04-06   Antalya    -0.445999
96  2023-04-07    Ankara    -2.456281
97  2023-04-08     İzmir    19.871719
98  2023-04-09   Antalya    21.732137
99  2023-04-10     İzmir    12.896571

[100 rows x 3 columns]

In [19]:
# City ve Temperature kolonlarını birlikte listeleyiniz.
df[['City', 'Temperature']]

        City  Temperature
0   İstanbul    16.151138
1      Bursa    33.735633
2      Bursa    22.349836
3      İzmir     7.191749
4     Ankara    10.547860
..       ...          ...
95   Antalya    -0.445999
96    Ankara    -2.456281
97     İzmir    19.871719
98   Antalya    21.732137
99     İzmir    12.896571

[100 rows x 2 columns]

In [20]:
# Hava sıcaklığı (Temperature) 30 derecenin üzerinde olan kayıtları listeleyin.
df[df['Temperature'] > 30]

          Date      City  Temperature   Humidity
1   2023-01-02     Bursa    33.735633  54.334652
19  2023-01-20  İstanbul    32.573845  47.427671
24  2023-01-25   Antalya    33.996659  45.778425
31  2023-02-01    Ankara    34.803090  65.272843
48  2023-02-18     Bursa    34.574152  45.465535
57  2023-02-27     İzmir    31.650439  32.027107
67  2023-03-09  İstanbul    31.194814  58.052741
70  2023-03-12     Bursa    31.432847  67.212496
82  2023-03-24     Bursa    31.724520  35.720562
93  2023-04-04     Bursa    34.451837  87.965946

In [21]:
# Şehri (City) sadece "Bursa" olan kayıtları listeleyin.
df[df['City'] == 'Bursa']

          Date   City  Temperature   Humidity
1   2023-01-02  Bursa    33.735633  54.334652
2   2023-01-03  Bursa    22.349836  77.209762
9   2023-01-10  Bursa    -0.828552  46.953948
18  2023-01-19  Bursa    11.839917  89.420705
20  2023-01-21  Bursa    15.192716  85.060167
29  2023-01-30  Bursa    16.797977  37.454385
35  2023-02-05  Bursa    10.509472  52.806635
37  2023-02-07  Bursa     1.392703  49.667117
43  2023-02-13  Bursa     4.883422  82.394517
48  2023-02-18  Bursa    34.574152  45.465535
53  2023-02-23  Bursa    26.711180  86.801770
54  2023-02-24  Bursa    22.935503  84.356208
61  2023-03-03  Bursa    10.583850  77.643832
63  2023-03-05  Bursa    11.269820  51.838669
68  2023-03-10  Bursa    20.431434  58.867595
70  2023-03-12  Bursa    31.432847  67.212496
73  2023-03-15  Bursa     6.820626  83.352480
77  2023-03-19  Bursa    15.233950  45.359607
78  2023-03-20  Bursa    10.978048  79.045619
82  2023-03-24  Bursa    31.724520  35.720562
86  2023-03-28  Bursa     2.478720  79.058142
87  2023-03-29  Bursa     0.112704  37.167972
90  2023-04-01  Bursa    29.813005  35.109520
93  2023-04-04  Bursa    34.451837  87.965946

In [22]:
# Şehri "İstanbul" olan VE Nem oranı (Humidity) 60'tan büyük olan kayıtları listeleyin.
df[(df['City'] == 'İstanbul') & (df['Humidity'] > 60)]

          Date      City  Temperature   Humidity
0   2023-01-01  İstanbul    16.151138  61.351535
15  2023-01-16  İstanbul    22.216011  79.644751
17  2023-01-18  İstanbul    14.815879  75.444382
26  2023-01-27  İstanbul    -3.340537  62.062040
28  2023-01-29  İstanbul    17.477574  60.306731
30  2023-01-31  İstanbul     6.095407  73.879355
41  2023-02-11  İstanbul     3.730291  74.929572
59  2023-03-01  İstanbul    28.375876  64.526427
64  2023-03-06  İstanbul    25.948734  78.551780
65  2023-03-07  İstanbul    -1.151388  76.377752
71  2023-03-13  İstanbul    21.816357  78.974659
91  2023-04-02  İstanbul    17.702022  64.275133

In [23]:
# Şehri "Ankara" olan VEYA Sıcaklığı 5 dereceden küçük olan kayıtları listeleyin.
df[(df['City'] == 'Ankara') | (df['Temperature'] < 5)]

          Date      City  Temperature   Humidity
4   2023-01-05    Ankara    10.547860  73.048585
5   2023-01-06    Ankara    29.323858  39.652508
7   2023-01-08  İstanbul     3.062304  30.341868
9   2023-01-10     Bursa    -0.828552  46.953948
11  2023-01-12    Ankara     5.574377  83.275252
14  2023-01-15     İzmir    -0.182133  44.256152
16  2023-01-17    Ankara    18.295569  50.135854
26  2023-01-27  İstanbul    -3.340537  62.062040
31  2023-02-01    Ankara    34.803090  65.272843
33  2023-02-03    Ankara    16.820497  64.364143
34  2023-02-04   Antalya    -1.667393  65.344750
36  2023-02-06   Antalya     0.534465  74.963871
37  2023-02-07     Bursa     1.392703  49.667117
38  2023-02-08    Ankara     1.761409  43.409540
39  2023-02-09    Ankara     8.683508  68.371837
41  2023-02-11  İstanbul     3.730291  74.929572
42  2023-02-12    Ankara    18.520916  89.106005
43  2023-02-13     Bursa     4.883422  82.394517
47  2023-02-17  İstanbul     4.644439  55.339308
51  2023-02-21   Antalya    -1.228497  82.166757
56  2023-02-26    Ankara     2.644578  48.443266
60  2023-03-02     İzmir    -3.802847  51.085254
62  2023-03-04    Ankara    14.014344  89.758341
65  2023-03-07  İstanbul    -1.151388  76.377752
72  2023-03-14     İzmir     1.943629  69.281052
74  2023-03-16     İzmir     0.841603  78.750369
76  2023-03-18     İzmir    -2.337326  30.040149
80  2023-03-22    Ankara    14.798235  87.135928
81  2023-03-23    Ankara    22.672432  55.052363
85  2023-03-27    Ankara    26.770042  45.700210
86  2023-03-28     Bursa     2.478720  79.058142
87  2023-03-29     Bursa     0.112704  37.167972
88  2023-03-30     İzmir     4.879531  89.601290
89  2023-03-31    Ankara    11.426421  48.129913
92  2023-04-03   Antalya     1.730728  30.377030
95  2023-04-06   Antalya    -0.445999  71.817181
96  2023-04-07    Ankara    -2.456281  66.878091

In [24]:
# Sıcaklığı 10°C altında veya nemi (Humidity) %70 üzerinde olan verileri filtreleyiniz.
df[(df['Temperature'] < 10) | (df['Humidity'] > 70)]

          Date      City  Temperature   Humidity
2   2023-01-03     Bursa    22.349836  77.209762
3   2023-01-04     İzmir     7.191749  71.983702
4   2023-01-05    Ankara    10.547860  73.048585
6   2023-01-07  İstanbul     6.653819  56.474978
7   2023-01-08  İstanbul     3.062304  30.341868
..         ...       ...          ...        ...
88  2023-03-30     İzmir     4.879531  89.601290
92  2023-04-03   Antalya     1.730728  30.377030
93  2023-04-04     Bursa    34.451837  87.965946
95  2023-04-06   Antalya    -0.445999  71.817181
96  2023-04-07    Ankara    -2.456281  66.878091

[61 rows x 4 columns]

In [26]:
# Veri setini Temperature (Sıcaklık) değerine göre büyükten küçüğe (azalan) sıralayın ve ilk 10 kaydı gösterin.
df.sort_values(by='Temperature', ascending=False).head(10)

          Date      City  Temperature   Humidity
31  2023-02-01    Ankara    34.803090  65.272843
48  2023-02-18     Bursa    34.574152  45.465535
93  2023-04-04     Bursa    34.451837  87.965946
24  2023-01-25   Antalya    33.996659  45.778425
1   2023-01-02     Bursa    33.735633  54.334652
19  2023-01-20  İstanbul    32.573845  47.427671
82  2023-03-24     Bursa    31.724520  35.720562
57  2023-02-27     İzmir    31.650439  32.027107
70  2023-03-12     Bursa    31.432847  67.212496
67  2023-03-09  İstanbul    31.194814  58.052741

In [27]:
# Veriyi neme göre azalan şekilde sıralayınız.
df.sort_values(by='Humidity', ascending=False)

          Date      City  Temperature   Humidity
62  2023-03-04    Ankara    14.014344  89.758341
88  2023-03-30     İzmir     4.879531  89.601290
18  2023-01-19     Bursa    11.839917  89.420705
84  2023-03-26   Antalya     7.225329  89.169447
42  2023-02-12    Ankara    18.520916  89.106005
..         ...       ...          ...        ...
50  2023-02-20     İzmir    10.864251  31.838272
75  2023-03-17   Antalya     9.730327  31.486492
92  2023-04-03   Antalya     1.730728  30.377030
7   2023-01-08  İstanbul     3.062304  30.341868
76  2023-03-18     İzmir    -2.337326  30.040149

[100 rows x 4 columns]

In [28]:
# Veriyi Şehir alanına göre Artan şekilde sıralayanız.
df.sort_values(by='City', ascending=True)

          Date    City  Temperature   Humidity
85  2023-03-27  Ankara    26.770042  45.700210
33  2023-02-03  Ankara    16.820497  64.364143
42  2023-02-12  Ankara    18.520916  89.106005
31  2023-02-01  Ankara    34.803090  65.272843
62  2023-03-04  Ankara    14.014344  89.758341
..         ...     ...          ...        ...
32  2023-02-02   İzmir     9.319605  81.022224
40  2023-02-10   İzmir    20.694089  77.423249
76  2023-03-18   İzmir    -2.337326  30.040149
52  2023-02-22   İzmir    24.207435  41.911035
99  2023-04-10   İzmir    12.896571  57.887549

[100 rows x 4 columns]

In [ ]:
# Veri setine Temperature_F adında yeni bir sütun ekleyin. Bu sütun, sıcaklığın Fahrenheit cinsinden değerini taşımalıdır.
# Formül: (Temperature * 9/5) + 32
df['Temperature_F'] = df['Temperature'] * 9/5 + 32
df

          Date      City  Temperature   Humidity  Temperature_F
0   2023-01-01  İstanbul    16.151138  61.351535      61.072048
1   2023-01-02     Bursa    33.735633  54.334652      92.724140
2   2023-01-03     Bursa    22.349836  77.209762      72.229705
3   2023-01-04     İzmir     7.191749  71.983702      44.945147
4   2023-01-05    Ankara    10.547860  73.048585      50.986149
..         ...       ...          ...        ...            ...
95  2023-04-06   Antalya    -0.445999  71.817181      31.197202
96  2023-04-07    Ankara    -2.456281  66.878091      27.578695
97  2023-04-08     İzmir    19.871719  39.765404      67.769094
98  2023-04-09   Antalya    21.732137  32.799733      71.117847
99  2023-04-10     İzmir    12.896571  57.887549      55.213827

[100 rows x 5 columns]

In [31]:
# "FeelsLike" isminde yeni bir kolon oluşturun.
# Formül: FeelsLike = Temperature - (Humidity / 100)
df['FeelsLike'] = df['Temperature'] - (df['Humidity'] / 100)
df

          Date      City  Temperature   Humidity  Temperature_F  FeelsLike
0   2023-01-01  İstanbul    16.151138  61.351535      61.072048  15.537623
1   2023-01-02     Bursa    33.735633  54.334652      92.724140  33.192287
2   2023-01-03     Bursa    22.349836  77.209762      72.229705  21.577738
3   2023-01-04     İzmir     7.191749  71.983702      44.945147   6.471912
4   2023-01-05    Ankara    10.547860  73.048585      50.986149   9.817374
..         ...       ...          ...        ...            ...        ...
95  2023-04-06   Antalya    -0.445999  71.817181      31.197202  -1.164171
96  2023-04-07    Ankara    -2.456281  66.878091      27.578695  -3.125062
97  2023-04-08     İzmir    19.871719  39.765404      67.769094  19.474065
98  2023-04-09   Antalya    21.732137  32.799733      71.117847  21.404140
99  2023-04-10     İzmir    12.896571  57.887549      55.213827  12.317695

[100 rows x 6 columns]

In [32]:
# Her şehirde (City) kaç adet veri kaydı olduğunu hesaplayın.
df['City'].value_counts()

City
Bursa       24
İzmir       24
İstanbul    21
Ankara      16
Antalya     15
Name: count, dtype: int64

In [33]:
# Şehirlere göre ortalama sıcaklık (Temperature) değerlerini hesaplayın.
df.groupby('City')['Temperature'].mean()

City
Ankara      14.637553
Antalya      9.510961
Bursa       16.892722
İstanbul    13.715155
İzmir       13.459221
Name: Temperature, dtype: float64

In [36]:
# En yüksek sıcaklığın olduğu satırı (tüm bilgilerini) bulun ve yazdırın. loc kullanılcak
df.loc[df['Temperature'].idxmax()]

Date             2023-02-01
City                 Ankara
Temperature        34.80309
Humidity          65.272843
Temperature_F     94.645563
FeelsLike         34.150362
Name: 31, dtype: object

In [37]:
# En düşük nem oranının olduğu satırı bulun ve yazdırın.
df.loc[df['Humidity'].idxmin()]

Date             2023-03-18
City                  İzmir
Temperature       -2.337326
Humidity          30.040149
Temperature_F     27.792812
FeelsLike         -2.637728
Name: 76, dtype: object

In [38]:
# "Şehirlere göre ortalama sıcaklık" tablosunu bir Excel (sehir_sicakliklari.xlsx) veya CSV dosyası olarak kaydedin.
df.groupby('City')['Temperature'].mean().to_excel('sehir_sicakliklari.xlsx',)